@import "common";

body {
  height: 100%;
}

$mobileGray: #b3c0cc;
$mobileLightBlue: #2666b1;
$mobileDarkBlue: rgba(22,81,150,.96);
$mobileGrayBorder: 1px solid #b3c0cc;

.sg-header {
  color: #fff;
  @include font-stack($header: true, $size: 18px, $weight: 500);
  letter-spacing: 0.5px;
  padding: 15px 0;
  text-align: center;
  background-color: rgba(22,81,150,.96);
  width: 100%;
  z-index: 100;
}

.explore-header img,
.myevents-header img {
  width: 22px;
  position: absolute;
  right: 15px;
  top: 14px;
}

.sg-footer {
  position: absolute;
  bottom: 0;
  height: 44px;
  border-top: $mobileGrayBorder;
  width: 100%;
  background-color: #fff;

  .footer-icon {
    width: 20%;
    height: 44px;
    box-sizing: border-box;
    border-right: $mobileGrayBorder;
    float: left;

    &:last-child {
      border-right: 0;
    }

    .icon {
      width: 26px;
      height: 26px;
      margin-top: 9px;
      margin-left: 18px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    @each $tab in explore, search, events, performers, settings {
      .#{$tab}-icon {
        background-image: url(/images/#{$tab}.png);
      }
    }

    &.selected {
      border-bottom: 3px solid $mobileLightBlue;
      @each $tab in explore, search, events, performers, settings {
        .#{$tab}-icon {
          background-image: url(/images/#{$tab}-active.png);
        }
      }
    }
  }
}

.container {
  width: 100%;
  height: calc(100% - 44px);
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;

  .explore-view {
    height: calc(100% - 39px);
    overflow-y: auto;
  }
}

$exploreCellHeight: 205px;

.explore-cell-container {
  position: relative;
  background: #333;
  height: $exploreCellHeight;
  width: 100%;
  .photo {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: $exploreCellHeight;
  }
  .photo-overlay {
    height: $exploreCellHeight;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 35%, rgba(0,0,0,0.65) 77%, rgba(0,0,0,0.85) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(35%,rgba(0,0,0,0.2)), color-stop(77%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.85))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 10%,rgba(0,0,0,0.65) 77%,rgba(0,0,0,0.85) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 35%,rgba(0,0,0,0.65) 77%,rgba(0,0,0,0.85) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 35%,rgba(0,0,0,0.65) 77%,rgba(0,0,0,0.85) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 35%,rgba(0,0,0,0.65) 77%,rgba(0,0,0,0.85) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#bd000000',GradientType=0 ); /* IE6-9 */
  }
  .heart {
    background: url(/images/unfilled-heart.png);
    background-size: 23px 21px;
    width: 23px;
    height: 21px;
    position: absolute;
    top: 18px;
    right: 18px;
  }
  .heart.filled {
    background: url(/images/filled-heart.png);
    background-size: 23px 21px;
  }
  .event-info {
    position: absolute;
    bottom: 18px;
    left: 18px;
    h2, h5 {
      @include font-stack($size: 24px, $weight: 100);
      letter-spacing: 1px;
      color: white;
      margin-bottom: 3px;
    }
    h5 {
      @include font-stack($size: 13px, $weight: 100);
      color: #EEE;
    }
  }
  .heart {
    background: url(/images/unfilled-heart.png);
    background-size: 23px 21px;
    width: 23px;
    height: 21px;
    position: absolute;
    top: 18px;
    right: 18px;
  }
  .heart.filled {
    background: url(/images/filled-heart.png);
    background-size: 23px 21px;
  }
}
