@import "compass/css3/border-radius";
@import "common";

$myPerformerCellHeight: 140px;

#tracked-performers li {
  position: relative;
  float: left;
  background: #333;
  height: $myPerformerCellHeight;
  width: 50%;
  .photo {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: $myPerformerCellHeight;
  }
  .photo-overlay {
    height: $myPerformerCellHeight;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 35%, rgba(0,0,0,0.65) 77%, rgba(0,0,0,0.75) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(35%,rgba(0,0,0,0.2)), color-stop(77%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.75))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 10%,rgba(0,0,0,0.65) 77%,rgba(0,0,0,0.75) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 35%,rgba(0,0,0,0.65) 77%,rgba(0,0,0,0.75) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 35%,rgba(0,0,0,0.65) 77%,rgba(0,0,0,0.75) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 35%,rgba(0,0,0,0.65) 77%,rgba(0,0,0,0.75) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#bd000000',GradientType=0 ); /* IE6-9 */
  }
  .heart {
    background: url(/images/unfilled-heart.png);
    background-size: 23px 21px;
    width: 23px;
    height: 21px;
    position: absolute;
    top: 13px;
    right: 13px;
  }
  .heart.filled {
    background: url(/images/filled-heart.png);
    background-size: 23px 21px;
  }
  .performer-info {
    position: absolute;
    bottom: 13px;
    left: 13px;
    h2, h5 {
      @include font-stack($size: 18px, $weight: 200);
      font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
      letter-spacing: 1px;
      color: white;
      margin-bottom: 3px;
    }
    h5 {
      @include font-stack($size: 13px, $weight: 100);
      font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
      color: #DDD;
    }
  }
}