@import "compass/css3/border-radius";
@import "common";

$searchDetailPadding : 90px;

.search-view {
  overflow-y: auto;
  height: calc(100% - 54px);
}

.search-bar {
  width: 255px;
  padding: 0px 15px;
  padding-left: 30px;
  height: 31px;
  border: 0;
  @include border-radius(5px);
  background-color: #fff;
  outline: 0;
  color: #000;
  @include font-stack($header: true, $size: 15px, $weight: 300);
}

@include placeholder {
  padding-top: 2px;
  color: #b3b3b3;
  @include font-stack($header: true, $size: 15px, $weight: 300);
  line-height: 12px;
}

.category-divider {
  border-top: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
  height: 26px;
  width: 100%;
  background-color: #F5F5F5;
  h5 {
    @include font-stack($header: true, $size: 14px, $weight: 400);
    color: #0F68C0;
    padding-top: 6px;
    padding-left: 9px;
  }
}

.search-cell {
  height: 45px;
  border-bottom: 1px solid #E7E7E7;
  .search-image {
    background-size: contain;
    width: 77px;
    height: 45px;
    float: left;
    border-right: 1px solid #E7E7E7;
  }
  .search-event-date {
    width: 77px;
    height: 45px;
    float: left;
    border-right: 1px solid #E7E7E7;
    h4 {
    @include font-stack($header: true, $size: 15px, $weight: 400);
     padding-left: 10px;
     padding-top: 8px;
     padding-bottom: 2px;
     color: #868686;
    }
    h5 {
      @include font-stack($header: true, $size: 13px, $weight: 400);
      padding-left: 10px;
      color: #868686;
    }
  }
  .search-details,
  .search-event-details {
    width: 100%;
    h3, h4, h5 {
      padding-left: $searchDetailPadding;
      color: #414141;
    }
    h3 {
      @include font-stack($header: true, $size: 17px, $weight: 400);
      padding-top: 14px;
    }
    h4 {
    @include font-stack($header: true, $size: 15px, $weight: 400);
     padding-left: $searchDetailPadding;
     padding-top: 8px;
     padding-bottom: 2px;
    }
    h5 {
      @include font-stack($header: true, $size: 13px, $weight: 400);
      padding-left: $searchDetailPadding;
      color: #868686;
    }
  }

}
