@import "compass/css3/border-radius";
@import "common";

.search-bar {
  width: 255px;
  padding: 0px 15px;
  padding-left: 30px;
  height: 31px;
  border: 0;
  @include border-radius(5px);
  background-color: #fff;
  outline: 0;
  color: #000;
  @include font-stack($header: true, $size: 15px, $weight: 300);
}

@include placeholder {
  padding-top: 2px;
  color: #b3b3b3;
  @include font-stack($header: true, $size: 15px, $weight: 300);
  line-height: 12px;
}
