<header class="sg-header myperformers-header">
  My Performers
  <a href="/#/search">
    <img src="/images/add-performer.png">
  </a>
</header>
<ul id="tracked-performers">
  <li>
    <div class="photo" style="background-image: url(http://cdn.chairnerd.com/images/performers-landscape/bruce-springsteen-7f0bf6/4275/huge.jpg)"></div>
    <div class="photo-overlay"></div>
    <div class="heart filled"></div>
    <div class="performer-info">
      <h2>Bruce Springsteen</h2>
      <h5>12 events</h5>
    </div>
  </li>
    <li>
    <div class="photo" style="background-image: url(http://cdn.chairnerd.com/images/performers-landscape/passion-pit-4c04ae/1393/huge.jpg)"></div>
    <div class="photo-overlay"></div>
    <div class="heart filled"></div>
    <div class="performer-info">
      <h2>MGMT</h2>
      <h5>3 events</h5>
    </div>
  </li>
  <li>
    <div class="photo" style="background-image: url(http://cdn.chairnerd.com/images/performers-landscape/passion-pit-4c04ae/1393/huge.jpg)"></div>
    <div class="photo-overlay"></div>
    <div class="heart filled"></div>
    <div class="performer-info">
      <h2>Passion Pit</h2>
      <h5>3 events</h5>
    </div>
  </li>
  <li>
    <div class="photo" style="background-image: url(http://cdn.chairnerd.com/images/performers-landscape/bruno-mars-2dca42/6148/huge.jpg)"></div>
    <div class="photo-overlay"></div>
    <div class="heart filled"></div>
    <div class="performer-info">
      <h2>Bruno Mars</h2>
      <h5>3 events</h5>
    </div>
  </li>
  <li>
    <div class="photo" style="background-image: url(http://cdn.chairnerd.com/images/performers-landscape/bruce-springsteen-7f0bf6/4275/huge.jpg)"></div>
    <div class="photo-overlay"></div>
    <div class="heart filled"></div>
    <div class="performer-info">
      <h2>Bruce Springsteen</h2>
      <h5>12 events</h5>
    </div>
  </li>
    <li>
    <div class="photo" style="background-image: url(http://cdn.chairnerd.com/images/performers-landscape/passion-pit-4c04ae/1393/huge.jpg)"></div>
    <div class="photo-overlay"></div>
    <div class="heart filled"></div>
    <div class="performer-info">
      <h2>MGMT</h2>
      <h5>3 events</h5>
    </div>
  </li>
  <li>
    <div class="photo" style="background-image: url(http://cdn.chairnerd.com/images/performers-landscape/passion-pit-4c04ae/1393/huge.jpg)"></div>
    <div class="photo-overlay"></div>
    <div class="heart filled"></div>
    <div class="performer-info">
      <h2>Passion Pit</h2>
      <h5>3 events</h5>
    </div>
  </li>
  <li>
    <div class="photo" style="background-image: url(http://cdn.chairnerd.com/images/performers-landscape/bruno-mars-2dca42/6148/huge.jpg)"></div>
    <div class="photo-overlay"></div>
    <div class="heart filled"></div>
    <div class="performer-info">
      <h2>Bruno Mars</h2>
      <h5>3 events</h5>
    </div>
  </li>
</ul>
