<header class="sg-header">
  Bruce Springsteen
</header>
<div style="margin-top: 48px;"></div>
<div class="performer-splash-container">
  <div class="photo" style="background-image: url(http://cdn.chairnerd.com/images/performers-landscape/bruce-springsteen-7f0bf6/4275/huge.jpg)"></div>
  <div class="photo-overlay"></div>
</div>
<div class="category-divider">
  <h5>Events Near New York, NY</h5>
</div>

<div class="search-cell">
  <div class="search-event-date">
    <h4>Mar 6</h4>
    <h5>Thu 7:00p</h5>
  </div>
  <div class="search-event-details">
    <h4>Lorde with Log-Fang</h4>
    <h5>Roseland Ballroom, New York, NY</h5>
  </div>  
</div>
<div class="search-cell">
  <div class="search-event-date">
    <h4>Mar 7</h4>
    <h5>Fri 8:30p</h5>
  </div>
  <div class="search-event-details">
    <h4>Lorde with Log-Fang</h4>
    <h5>Roseland Ballroom, New York, NY</h5>
  </div>  
</div>
<div class="search-cell">
  <div class="search-event-date">
    <h4>Mar 7</h4>
    <h5>TBA</h5>
  </div>
  <div class="search-event-details">
    <h4>Lorde with Log-Fang</h4>
    <h5>Roseland Ballroom, New York, NY</h5>
  </div>  
</div>
<div class="search-cell">
  <div class="search-event-date">
    <h4>Mar 6</h4>
    <h5>Thu 7:00p</h5>
  </div>
  <div class="search-event-details">
    <h4>Lorde with Log-Fang</h4>
    <h5>Roseland Ballroom, New York, NY</h5>
  </div>  
</div>
<div class="search-cell">
  <div class="search-event-date">
    <h4>Mar 7</h4>
    <h5>Fri 8:30p</h5>
  </div>
  <div class="search-event-details">
    <h4>Lorde with Log-Fang</h4>
    <h5>Roseland Ballroom, New York, NY</h5>
  </div>  
</div>
<div class="search-cell">
  <div class="search-event-date">
    <h4>Mar 7</h4>
    <h5>TBA</h5>
  </div>
  <div class="search-event-details">
    <h4>Lorde with Log-Fang</h4>
    <h5>Roseland Ballroom, New York, NY</h5>
  </div>  
</div>
