<header class="sg-header search-header">
  <input type="text" class="search-bar" ng-model="searchText"
         ng-change="getSuggestions()"
         autofocus="autofocus"
         placeholder="Search by performer, event, or venue">
</header>
<div class="search-view">
  <div class="category-divider">
    <h5>Performers</h5>
  </div>
  <div class="search-cells performer-cells" ng-repeat="performer in searchResults.performers">
    <div class="search-cell">
      <div class="search-image" ng-style="{'background-image': (performer.image ? 'url(' + performer.image + ')' : 'none')}"></div>
      <a ng-href="#/performer/{{performer.id}}"><div class="search-details"><h3>{{ performer.short_name }}</h3></div></a>
    </div>
  </div>
  <div class="category-divider">
    <h5>Venues</h5>
  </div>
  <div class="search-cells venue-cells" ng-repeat="venue in searchResults.venues">
    <div class="search-cell">
      <div class="search-image"
      ng-style="{'background': 'url(http://maps.googleapis.com/maps/api/staticmap?center=' + venue.location.lat + ',' + venue.location.lon +'&zoom=11&size=140x90&sensor=false)'}"></div>
      <div class="search-details"><h3>{{ venue.name }}</h3></div>
    </div>
  </div>
  <div class="category-divider">
    <h5>Events</h5>
  </div>
  <div class="search-cells nearby-cells" ng-repeat="event in searchResults.events">
    <div class="search-cell">
      <div class="search-event-date">
        <h4>{{ event.datetime_local | date:'MMM d' }}</h4>
        <h5>{{ event.datetime_local | date:'EEE h:mm a' }}</h5>
      </div>
      <div class="search-event-details">
        <h4>{{ event.short_title }}</h4>
        <h5>{{ event.venue.name }}, {{ event.venue.display_location }}</h5>
      </div>
    </div>
  </div>
</div>
