<header class="sg-header myevents-header">
  Settings
  <a href="/#/search">
    <img src="/images/search-white.png">
  </a>
</header>
<div style="height: 600px;background: black;overflow:hidden;">
<div id="settings" style="background-image: url(/images/login-background.png)">
  <div class="logo-container">
    <img class="logo" src="images/logo.png" style="width: 150px">
  </div>
  <div class="fb-signup">
    <img src="images/fb-icon.png" style="width: 25px;">
    <p>Sign in with Facebook</p>
  </div>
  <div class="button-container">
    <div class="sign-up"><p>Sign up</p></div>
    <div class="log-in"><p>Log in</p></div>
  </div>
</div>
</div>
